@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

$backlink-font-size: calc(0.7rem + 0.2vw + 0.2vh);
$heading-font-size: calc(2rem + 1vw + 1vh);
$m-heading-font-size: calc(2rem + 1vw);
$bodytext-size: calc(1rem + 0.3vw + 0.2vh);
$m-bodytext-size: calc(0.9rem + 0.3vw);
