@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

$backlink-font-size: calc(0.7rem + 0.4vw);
$heading-font-size: calc(2rem + 2vw);
$bodytext-size: calc(1rem + 0.5vw);
