@use "../base" as b;

.App nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 70px;
  width: 300px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: b.$landing-button-bg;
  .order-now {
    font-size: 34px;
    font-weight: 700;
    text-decoration: none;
    color: b.$bg-color;
  }
}
