@use "../base" as b;

.Confirmation {
  background-color: b.$bg-color;
  color: b.$main-font-color;
  margin-left: clamp(1rem, 2vw, 3vw);
  margin-right: clamp(1rem, 2vw, 3vw);
}

.Confirmation header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;

  img {
    max-width: 400px;
    width: 60%;
  }
}

.Confirmation main {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: min-content 1fr;
  column-gap: 2rem;

  @media only screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
  }

  .message {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
    margin: 3rem 0 3rem 0;
    @media only screen and (max-width: 500px) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    h1 {
      font-size: b.$heading-font-size;
      @media only screen and (max-width: 500px) {
        font-size: b.$m-heading-font-size;
      }
    }

    p {
      font-size: b.$bodytext-size;
      margin-top: 1rem;
      @media only screen and (max-width: 500px) {
        font-size: b.$m-bodytext-size;
      }
    }
  }

  #order {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    @media only screen and (max-width: 500px) {
      align-items: flex-start;
      // margin-left: 1rem;
      margin-bottom: 1rem;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    h2 {
      text-transform: uppercase;
      font-size: calc(1.5rem + 1vw);
      @media only screen and (max-width: 500px) {
        font-size: calc(1.5rem + 0.5vw);
      }
    }

    .beers {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: 500px) {
        margin-top: 1rem;
      }

      span {
        font-size: b.$bodytext-size;
        margin: 0.3rem 0;
        @media only screen and (max-width: 500px) {
          font-size: b.$m-bodytext-size;
        }
      }
    }
  }

  .picture {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(2rem + 5vw);
    @media only screen and (max-width: 500px) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
      align-items: center;
      justify-content: flex-start;
      margin-left: 0;
    }

    img {
      // max-width: 350px;
      // width: 70%;
      max-height: 50vh;
      height: 80%;
      // height: 80%;
      width: auto;
      @media only screen and (max-width: 610px) {
        // width: 50%;
        height: 28vh;
        width: auto;
      }
    }
  }
}
