@use "../base" as b;

.Main {
  background-color: b.$bg-color;
  color: b.$main-font-color;
  text-align: center;
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10rem;
  // display: flex;
  // flex-wrap: wrap;
  // gap: 10rem;
  // justify-content: space-evenly;
  margin-inline: 5rem;
}

.Product {
  display: flex;
  gap: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  h2 {
    font-weight: 300;
  }
  img {
    max-width: 100%;
    // width: 220px;
  }
  .plusMinus {
    margin-top: -5rem;
  }
}
